  <div id="<%= dom_id article %>">

       <%  if  @article.category == "Recipe" %>
    <button class="print-link-button", id="upper-print-link"><a href= "#print-card-link" class="bottom">Recipe <i class="fa-solid fa-angle-down"></i></a></button>
<% end %>
<br>
<p> <%= article.date.to_formatted_s(:long) %></p>
     <h1 class="grand-title"><%= article.title %></h1>
     <hr>


  <%  if  @article.country_id.present? %>
 <h5> <%= link_to @location_name.name, location_path(@location_name) %>, <%= link_to @country_name.name, country_path(@country_name) %></h5>

    <% end %>
 <% if article.holiday_tags.to_s.include?("Restaurants") %>
        <h6>    <%=   article.cuisine %></h6>
              <% end %>

    <p>By: <%= article.author %></p>







  <div class="article-image-text-combo">
    <div class="cover-image-article">
      <% if article.imagecover.attached? %>
      <%= image_tag @article.imagecover %>
      <% end %>
    </div>
    <div class="article-intro">
      <%= simple_format article.text1 %>
    </div>
  </div>


  <%  if  @article.category == "Recipe" %>
  <br>
    <h3>Ingredients</h3>
    <hr>
    <div class="row">
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title1 %></h5>
        <ul><%=simple_format article.recipe_list1 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title2 %></h5>
        <ul> <%=simple_format article.recipe_list2 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title3 %></h5>
        <ul> <%=simple_format article.recipe_list3 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5> <%=simple_format article.recipe_title4 %></h5>
        <ul><%=simple_format article.recipe_list4 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5> <%=simple_format article.recipe_title5 %></h5>
        <ul> <%=simple_format article.recipe_list5 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title6 %></h5>
        <ul> <%=simple_format article.recipe_list6 %></ul>
    </div>
    </div>
<br>

    <h3>Method</h3>
    <hr>

    <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image20.attached? %>
      <%= image_tag @article.image20 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text20 %>
    </div>
    </div>
    <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image21.attached? %>
      <%= image_tag @article.image21 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text21 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image22.attached? %>
      <%= image_tag @article.image22 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text22 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image23.attached? %>
      <%= image_tag @article.image23 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text23 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image24.attached? %>
      <%= image_tag @article.image24 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text24 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image25.attached? %>
      <%= image_tag @article.image25 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text25 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image26.attached? %>
      <%= image_tag @article.image26 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text26 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image27.attached? %>
      <%= image_tag @article.image27 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text27 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image28.attached? %>
      <%= image_tag @article.image28 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text28 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image29.attached? %>
      <%= image_tag @article.image29 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text29 %>
    </div>
   </div>
      <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image30.attached? %>
      <%= image_tag @article.image30 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text30 %>
    </div>
   </div>
    <% end %>





<%  if  @article.category == "Recipe" %>
<div id="print-card-link">

  <div class="card print-link-card">


     <div class="article-image-text-combo">
      <div class="article-image-print-link">
      <% if article.imagecover.attached? %>
      <%= image_tag @article.imagecover %>
      <% end %>
    </div>
      <div class="article-image-description">
      <h1><%= article.title %></h1>
     <h6>by <%= article.author %></h6>
     <br>
     <div class="d-flex recipe-timings">
     <div class="recipe-timing-info">
      <h5><u>Prep Time</u> </h5>


      <h5><%= time_conversion(article.prep_time) %></h5>
     </div>
        <div class="recipe-timing-info">

      <h5><u>Cooking Time</u> </h5>
      <h5><%= time_conversion(article.cooking_time) %></h5>
     </div>
       <div class="recipe-timing-info">

      <h5><u>Total Time</u></h5>
      <h5><%= time_conversion(@total_time) %></h5>

     </div>
     </div>
     <br>
     <h5>Servings: <%= article.servings %> </h5>
     <br>
        <%= button_to "Print", "/articles/ #{@article.id} /print", class:"print-link-button", method: :get %>
        <br>
    </div>
   </div>




    <%# <div class="cover-image-print-link"> %>





  <div class="row">

    <h4>Ingredients</h4>
    <hr>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title1 %></h5>
        <ul><%=simple_format article.recipe_list1 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title2 %></h5>
        <ul> <%=simple_format article.recipe_list2 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title3 %></h5>
        <ul> <%=simple_format article.recipe_list3 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5> <%=simple_format article.recipe_title4 %></h5>
        <ul><%=simple_format article.recipe_list4 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5> <%=simple_format article.recipe_title5 %></h5>
        <ul> <%=simple_format article.recipe_list5 %></ul>
      </div>
      <div class="col-sm-auto ingredients-list">
        <h5><%=simple_format article.recipe_title6 %></h5>
        <ul> <%=simple_format article.recipe_list6 %></ul>
    </div>
    </div>
<br>
      <div class="col print-method">
      <h4>Method</h4>
      <hr>
    <%= simple_format article.text20 %>
    <%= simple_format article.text21 %>
    <%= simple_format article.text22 %>
    <%= simple_format article.text23 %>
    <%= simple_format article.text24 %>
    <%= simple_format article.text25 %>
    <%= simple_format article.text26 %>
    <%= simple_format article.text27 %>
    <%= simple_format article.text28 %>
    <%= simple_format article.text29 %>
    <%= simple_format article.text30 %>

      </div>
  </div>
</div>

   </div>
    <% end %>

<%  if  @article.category != "Recipe" %>
<br>
  <div class="article-image-text-combo">
    <div class="article-image-article">
      <% if article.image2.attached? %>
      <%= image_tag @article.image2 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text2 %>
      <br>
    </div>
  </div>
  <div class="article-image-text-combo">
    <div class="article-image-article">
      <% if article.image3.attached? %>
      <%= image_tag @article.image3 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text3 %>
      <br>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image4.attached? %>
      <%= image_tag @article.image4 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text4 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image5.attached? %>
      <%= image_tag @article.image5 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text5 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image6.attached? %>
      <%= image_tag @article.image6 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text6 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image7.attached? %>
      <%= image_tag @article.image7 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text7 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image8.attached? %>
      <%= image_tag @article.image8 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text8 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image9.attached? %>
      <%= image_tag @article.image9 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text9 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image10.attached? %>
      <%= image_tag @article.image10 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text10 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image11.attached? %>
      <%= image_tag @article.image11 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text11 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image12.attached? %>
      <%= image_tag @article.image12 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text12 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image13.attached? %>
      <%= image_tag @article.image13 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text13 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image14.attached? %>
      <%= image_tag @article.image14 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text14 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image15.attached? %>
      <%= image_tag @article.image15 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text15 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image16.attached? %>
      <%= image_tag @article.image16 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text16 %>
    </div>
  </div>
  <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image17.attached? %>
      <%= image_tag @article.image17 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text17 %>
    </div>
  </div>
    <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image18.attached? %>
      <%= image_tag @article.image18 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text18 %>
    </div>
  </div>
    <div class="article-image-text-combo">
      <div class="article-image-article">
      <% if article.image19.attached? %>
      <%= image_tag @article.image19 %>
      <% end %>
    </div>
    <div class="article-image-description">
      <%= simple_format article.text19 %>
    </div>
  </div>


<%  if  @article.category == "Restaurant" %>
 <h3>Summary</h3>
 <hr>


<div class="row">
<div class="col-auto">
<p>Price: </p>
<p>Atmosphere: </p>
<p>Drinks: </p>
<p>Service: </p>
<p>Food: </p>
<p>Value: </p>
</div>
<div class="col-auto">
 <p><% article.price.to_i.times do  %>£<% end %> / ££££ </p>
 <p><%=  article.atmosphere %> / 10 </p>
 <p><%=  article.drinks %> / 10 </p>
 <p><%=  article.service %> / 10 </p>
 <p><%=  article.food %> / 10 </p>
 <p><%=  article.value %> / 10 </p>
</div>
<hr>






</div>
<% end %>
  <%= link_to "#{article.address}", "https://www.google.com/maps/place/#{article.address}", target: "_blank", id: "address-spacer"%>
<br>
<br>
  <%= link_to "#{article.website}", article.website, target: "_blank" %>
<% end %>
