  <div id="<%= dom_id article %>">

<p> <%= article.date.to_formatted_s(:long) %></p>
     <h1 class="grand-title"><%= article.title %></h1>
     <hr>

  <%  if  @article.country_id.present? %>
  <h5><%= @location_name.name %>,
     <%= @country_name.name %></h5>
    <% end %>


    <p>
      By:
     <%= article.author %>
      <br>

    </p>

      <% if article.image1.attached? %>
      <%= image_tag @article.image1 %>
      <% end %>

    <p>
  <%  if  @article.category == "Recipe" %>
  <br>
<button class="print-link-button"><a href= "#print-card-link" class="bottom">Recipe <i class="fa-solid fa-angle-down"></i></a></button>
  <h3> Ingredients
   </h3>
    <% end %>
      <%= simple_format article.text1 %>
    </p>
      <% if article.image2.attached? %>
      <%= image_tag @article.image2 %>
      <% end %>
    <p>

      <%=simple_format article.text2 %>
    </p>
      <% if article.image3.attached? %>
      <%= image_tag @article.image3 %>
      <% end %>
    <p>
      <%= simple_format article.text3 %>
    </p>
      <% if article.image4.attached? %>
      <%= image_tag @article.image4 %>
      <% end %>
        <%  if  @article.category == "Recipe" %>
        <br>
  <h3> Method
   </h3>
    <% end %>
    <p>
      <%= simple_format article.text4 %>
    </p>
      <% if article.image5.attached? %>
      <%= image_tag @article.image5 %>
      <% end %>
    <p>
      <%= simple_format article.text5 %>
    </p>
      <% if article.image6.attached? %>
      <%= image_tag @article.image6 %>
      <% end %>
    <p>
      <%= simple_format article.text6 %>
    </p>
      <% if article.image7.attached? %>
      <%= image_tag @article.image7 %>
      <% end %>
    <p>
      <%= simple_format article.text7 %>
    </p>
    <% if article.image8.attached? %>
      <%= image_tag @article.image8 %>
      <% end %>
    <p>
      <%= simple_format article.text8 %>
    </p>
    <% if article.image9.attached? %>
      <%= image_tag @article.image9 %>
      <% end %>
    <p>
      <%= simple_format article.text9 %>
    </p>
    <% if article.image10.attached? %>
      <%= image_tag @article.image10 %>
      <% end %>
    <p>
      <%= simple_format article.text10 %>
    </p>
    <% if article.image11.attached? %>
      <%= image_tag @article.image11 %>
      <% end %>
    <p>
      <%= simple_format article.text11 %>
    </p>
    <% if article.image12.attached? %>
      <%= image_tag @article.image12 %>
      <% end %>
    <p>
      <%= simple_format article.text12 %>
    </p>
    <% if article.image13.attached? %>
      <%= image_tag @article.image13 %>
      <% end %>
    <p>
      <%= simple_format article.text13 %>
    </p>
    <% if article.image14.attached? %>
      <%= image_tag @article.image14 %>
      <% end %>
    <p>
      <%= simple_format article.text14 %>
    </p>
    <% if article.image15.attached? %>
      <%= image_tag @article.image15 %>
      <% end %>
    <p>
      <%= simple_format article.text15 %>
    </p>
    <% if article.image16.attached? %>
      <%= image_tag @article.image16 %>
      <% end %>
    <p>
      <%= simple_format article.text16 %>
    </p>
    <% if article.image17.attached? %>
      <%= image_tag @article.image17 %>
      <% end %>
    <p>
      <%= simple_format article.text17 %>
    </p>
    <% if article.image18.attached? %>
      <%= image_tag @article.image18 %>
      <% end %>
    <p>
      <%= simple_format article.text18 %>
    </p>
    <% if article.image19.attached? %>
      <%= image_tag @article.image19 %>
      <% end %>
    <p>
      <%= simple_format article.text19 %>
    </p>
    <% if article.image20.attached? %>
      <%= image_tag @article.image20 %>
      <% end %>
    <p>
      <%= simple_format article.text20 %>
    </p>
    <% if article.image21.attached? %>
      <%= image_tag @article.image21 %>
      <% end %>
    <p>
      <%= simple_format article.text21 %>
    </p>
    <% if article.image22.attached? %>
      <%= image_tag @article.image22 %>
      <% end %>
    <p>
      <%= simple_format article.text22 %>
    </p>
    <% if article.image23.attached? %>
      <%= image_tag @article.image23 %>
      <% end %>
    <p>
      <%= simple_format article.text23 %>
    </p>
    <% if article.image24.attached? %>
      <%= image_tag @article.image24 %>
      <% end %>
    <p>
      <%= simple_format article.text24 %>
    </p>
    <% if article.image25.attached? %>
      <%= image_tag @article.image25 %>
      <% end %>
    <p>
      <%= simple_format article.text25 %>
    </p>
    <% if article.image26.attached? %>
      <%= image_tag @article.image26 %>
      <% end %>
    <p>
      <%= simple_format article.text26 %>
    </p>
    <% if article.image27.attached? %>
      <%= image_tag @article.image27 %>
      <% end %>
    <p>
      <%= simple_format article.text27 %>
    </p>
    <% if article.image28.attached? %>
      <%= image_tag @article.image28 %>
      <% end %>
    <p>
      <%= simple_format article.text28 %>
    </p>
    <% if article.image29.attached? %>
      <%= image_tag @article.image29 %>
      <% end %>
    <p>
      <%= simple_format article.text29 %>
    </p>
    <% if article.image30.attached? %>
      <%= image_tag @article.image30 %>
      <% end %>
    <p>
      <%= simple_format article.text30 %>
    </p>
</div>


<%  if  @article.category == "Recipe" %>
  <div id="print-card-link">
<%= button_to "Print friendly view", "/articles/ #{@article.id} /print", class:"print-link-button", method: :get %>

<br>
<div class="card">
<div class="row">
<div class="col-4 print-ingredients">
      <%= simple_format article.text1 %>
      <%= simple_format article.text2 %>
      <%= simple_format article.text3 %>
      <%= simple_format article.text4 %>

</div>

<div class="col-8 print-method">
      <%= simple_format article.text5 %>
      <%= simple_format article.text6 %>
      <%= simple_format article.text7 %>
      <%= simple_format article.text8 %>
</div>
</div>
</div>

   </div>
    <% end %>
