  <div id="<%= dom_id article %>">

<p> <%= article.date.to_formatted_s(:long) %></p>
     <h1 class="grand-title"><%= article.title %></h1>
     <hr>

  <%  if  @article.country_id.present? %>
  <h5><%= @location_name.name %>,
     <%= @country_name.name %></h5>
    <% end %>


    <p>
      By:
     <%= article.author %>
      <br>

    </p>

      <% if article.image1.attached? %>
      <%= image_tag @article.image1 %>
      <% end %>

    <p>
  <%  if  @article.category == "Recipe" %>
  <br>
    <button class="print-link-button"><a href= "#print-card-link" class="bottom">Recipe <i class="fa-solid fa-angle-down"></i></a></button>
    <h3>Ingredients</h3>
    <hr>
    <div class="row">
      <div class="col-3">
        <h4><%=simple_format article.recipe_title1 %></h4>
        <ul><%=simple_format article.recipe_list1 %></ul>
      </div>
      <div class="col-3">
        <h4><%=simple_format article.recipe_title2 %></h4>
        <ul> <%=simple_format article.recipe_list2 %></ul>
      </div>
      <div class="col-3">
        <h4><%=simple_format article.recipe_title3 %></h4>
        <ul> <%=simple_format article.recipe_list3 %></ul>
      </div>
      <div class="col-3">
        <h4> <%=simple_format article.recipe_title4 %></h4>
        <ul><%=simple_format article.recipe_list4 %></ul>
      </div>
      <div class="col-3">
        <h4> <%=simple_format article.recipe_title5 %></h4>
        <ul> <%=simple_format article.recipe_list5 %></ul>
      </div>
      <div class="col-3">
        <h4><%=simple_format article.recipe_title6 %></h4>
        <ul> <%=simple_format article.recipe_list6 %></ul>
    </div>
    </div>
    <h3>Method</h3>
    <hr>
    <%=simple_format article.method1 %>
    <%=simple_format article.method2 %>
    <%=simple_format article.method3 %>
    <%=simple_format article.method4 %>
    <%=simple_format article.method5 %>
    <%=simple_format article.method6 %>
    <%=simple_format article.method7 %>
    <%=simple_format article.method8 %>
    <%=simple_format article.method9 %>
    <%=simple_format article.method10 %>
    <% end %>

      <%= simple_format article.text1 %>
    </p>
      <% if article.image2.attached? %>
      <%= image_tag @article.image2 %>
      <% end %>
    <p>

      <%=simple_format article.text2 %>
    </p>
      <% if article.image3.attached? %>
      <%= image_tag @article.image3 %>
      <% end %>
    <p>
      <%= simple_format article.text3 %>
    </p>
      <% if article.image4.attached? %>
      <%= image_tag @article.image4 %>
      <% end %>
    <p>
      <%= simple_format article.text4 %>
    </p>
      <% if article.image5.attached? %>
      <%= image_tag @article.image5 %>
      <% end %>
    <p>
      <%= simple_format article.text5 %>
    </p>
      <% if article.image6.attached? %>
      <%= image_tag @article.image6 %>
      <% end %>
    <p>
      <%= simple_format article.text6 %>
    </p>
      <% if article.image7.attached? %>
      <%= image_tag @article.image7 %>
      <% end %>
    <p>
      <%= simple_format article.text7 %>
    </p>
    <% if article.image8.attached? %>
      <%= image_tag @article.image8 %>
      <% end %>
    <p>
      <%= simple_format article.text8 %>
    </p>
    <% if article.image9.attached? %>
      <%= image_tag @article.image9 %>
      <% end %>
    <p>
      <%= simple_format article.text9 %>
    </p>
    <% if article.image10.attached? %>
      <%= image_tag @article.image10 %>
      <% end %>
    <p>
      <%= simple_format article.text10 %>
    </p>
    <% if article.image11.attached? %>
      <%= image_tag @article.image11 %>
      <% end %>
    <p>
      <%= simple_format article.text11 %>
    </p>
    <% if article.image12.attached? %>
      <%= image_tag @article.image12 %>
      <% end %>
    <p>
      <%= simple_format article.text12 %>
    </p>
    <% if article.image13.attached? %>
      <%= image_tag @article.image13 %>
      <% end %>
    <p>
      <%= simple_format article.text13 %>
    </p>
    <% if article.image14.attached? %>
      <%= image_tag @article.image14 %>
      <% end %>
    <p>
      <%= simple_format article.text14 %>
    </p>
    <% if article.image15.attached? %>
      <%= image_tag @article.image15 %>
      <% end %>
    <p>
      <%= simple_format article.text15 %>
    </p>
    <% if article.image16.attached? %>
      <%= image_tag @article.image16 %>
      <% end %>
    <p>
      <%= simple_format article.text16 %>
    </p>
    <% if article.image17.attached? %>
      <%= image_tag @article.image17 %>
      <% end %>
    <p>
      <%= simple_format article.text17 %>
    </p>
    <% if article.image18.attached? %>
      <%= image_tag @article.image18 %>
      <% end %>
    <p>
      <%= simple_format article.text18 %>
    </p>
    <% if article.image19.attached? %>
      <%= image_tag @article.image19 %>
      <% end %>
    <p>
      <%= simple_format article.text19 %>
    </p>
    <% if article.image20.attached? %>
      <%= image_tag @article.image20 %>
      <% end %>
    <p>
      <%= simple_format article.text20 %>
    </p>
    <% if article.image21.attached? %>
      <%= image_tag @article.image21 %>
      <% end %>
    <p>
      <%= simple_format article.text21 %>
    </p>
    <% if article.image22.attached? %>
      <%= image_tag @article.image22 %>
      <% end %>
    <p>
      <%= simple_format article.text22 %>
    </p>
    <% if article.image23.attached? %>
      <%= image_tag @article.image23 %>
      <% end %>
    <p>
      <%= simple_format article.text23 %>
    </p>
    <% if article.image24.attached? %>
      <%= image_tag @article.image24 %>
      <% end %>
    <p>
      <%= simple_format article.text24 %>
    </p>
    <% if article.image25.attached? %>
      <%= image_tag @article.image25 %>
      <% end %>
    <p>
      <%= simple_format article.text25 %>
    </p>
    <% if article.image26.attached? %>
      <%= image_tag @article.image26 %>
      <% end %>
    <p>
      <%= simple_format article.text26 %>
    </p>
    <% if article.image27.attached? %>
      <%= image_tag @article.image27 %>
      <% end %>
    <p>
      <%= simple_format article.text27 %>
    </p>
    <% if article.image28.attached? %>
      <%= image_tag @article.image28 %>
      <% end %>
    <p>
      <%= simple_format article.text28 %>
    </p>
    <% if article.image29.attached? %>
      <%= image_tag @article.image29 %>
      <% end %>
    <p>
      <%= simple_format article.text29 %>
    </p>
    <% if article.image30.attached? %>
      <%= image_tag @article.image30 %>
      <% end %>
    <p>
      <%= simple_format article.text30 %>
    </p>
</div>


<%  if  @article.category == "Recipe" %>
  <div id="print-card-link">
<%= button_to "Print friendly view", "/articles/ #{@article.id} /print", class:"print-link-button", method: :get %>

<br>
<div class="card">
  <div class="row">
      <div class="col-4 print-ingredients">
      <h4>Ingredients</h4>
      <hr>

        <h5><%=simple_format article.recipe_title1 %></h5>
        <ul><%=simple_format article.recipe_list1 %></ul>
        <h5><%=simple_format article.recipe_title2 %></h5>
        <ul><%=simple_format article.recipe_list2 %></ul>
       <h5> <%=simple_format article.recipe_title3 %></h5>
       <ul> <%=simple_format article.recipe_list3 %></ul>
        <h5><%=simple_format article.recipe_title4 %></h5>
       <ul> <%=simple_format article.recipe_list4 %></ul>
        <h5><%=simple_format article.recipe_title5 %></h5>
        <ul><%=simple_format article.recipe_list5 %></ul>
        <h5><%=simple_format article.recipe_title6 %></h5>
        <ul><%=simple_format article.recipe_list6 %></ul>
      </div>

      <div class="col-8 print-method">
      <h4>Method</h4>
      <hr>
        <%= simple_format article.method1 %>
        <%= simple_format article.method2 %>
        <%= simple_format article.method3 %>
        <%= simple_format article.method4 %>
        <%= simple_format article.method5 %>
        <%= simple_format article.method6 %>
        <%= simple_format article.method7 %>
        <%= simple_format article.method8 %>
        <%= simple_format article.method9 %>
        <%= simple_format article.method10 %>

      </div>
  </div>
</div>

   </div>
    <% end %>
