<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :title %>

    <div class="d-flex gap-5 flex-wrap" style="width: 1300px;">
    <%= f.input :date, as: :date, html5: true %>
    <br>
       <%= f.input :author, collection: [ "Christian", "Rosie"] %>
    <br>
    <%= f.input :country_id, collection: @countries %>
    <%= f.input :location_id, collection: @locations %>


<br>


    </div>

        <div class="d-flex gap-5 flex-wrap" style="width: 1300px;">

    <%= f.input :category, collection: [ "Health", "Life", "Recipe", "Restaurant", "Style", "Travel"] %>
    <%= f.input :subcategory, collection: [ "Drinks", "Starters", "Mains", "Sweets", "Sides", "Snacks", "Beauty", "Fashion", "Interiors"] %>
    <%= f.input :feature, collection: [ "Health", "Life", "Recipe", "Restaurant", "Style", "Travel"] %>
    <%= f.input :subfeature, collection: [ "Ignore for now"] %>
    <%= f.input :cuisine, collection: [ "Med", "Asian", "Middle Eastern"] %>
    </div>

         <div class="d-flex gap-5 flex-wrap" style="width: 1300px;">

    <%= f.input :price, collection: 1..4 %> /4
    <%= f.input :atmosphere, as: :float %> /10
    <%= f.input :drinks, as: :float  %> /10
    <%= f.input :food, as: :float %> /10
    <%= f.input :service, as: :float  %> /10
    <%= f.input :value, as: :float  %> /10
    </div>


              <p>Cover Image Upload</p>
    <%= f.file_field :imagecover, direct_upload: true %><hr>
    <%= f.input :text1, label: "Introduction" %> <hr>


    <div class="row">
    <div class="col article-split">

    <h3>New Travel Article</h3>
    <hr>

    <p>Image Upload</p>
    <%= f.file_field :image1, direct_upload: true %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image2, direct_upload: true %> <hr>
    <%= f.input :text2, label: "Paragraph 2"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image3, direct_upload: true %><hr>
    <%= f.input :text3, label: "Paragraph 3"  %> <hr>
      <p>Image Upload</p>
    <%= f.file_field :image4, direct_upload: true %> <hr>
    <%= f.input :text4, label: "Paragraph 4"  %> <hr>
      <p>Image Upload</p>
    <%= f.file_field :image5, direct_upload: true %> <hr>
    <%= f.input :text5, label: "Paragraph 5"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image6, direct_upload: true %><hr>
    <%= f.input :text6, label: "Paragraph 6"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image7, direct_upload: true %><hr>
    <%= f.input :text7, label: "Paragraph 7"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image8, direct_upload: true %><hr>
    <%= f.input :text8, label: "Paragraph 8"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image9, direct_upload: true %><hr>
    <%= f.input :text9, label: "Paragraph 9"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image10, direct_upload: true %><hr>
    <%= f.input :text10, label: "Paragraph 10"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image11, direct_upload: true %><hr>
    <%= f.input :text11, label: "Paragraph 11"  %><hr>
      <p>Image Upload</p>
    <%= f.file_field :image12, direct_upload: true %><hr>
    <%= f.input :text12, label: "Paragraph 12"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image13, direct_upload: true %><hr>
    <%= f.input :text13, label: "Paragraph 13"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image14, direct_upload: true %><hr>
    <%= f.input :text14, label: "Paragraph 14"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image15, direct_upload: true %><hr>
    <%= f.input :text15, label: "Paragraph 15"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image16, direct_upload: true %><hr>
    <%= f.input :text16, label: "Paragraph 16"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image17, direct_upload: true %><hr>
    <%= f.input :text17, label: "Paragraph 17"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image18, direct_upload: true %><hr>
    <%= f.input :text18, label: "Paragraph 18"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image19, direct_upload: true %><hr>
    <%= f.input :text19, label: "Paragraph 19"  %><hr>

  </div>

      <div class="col article-split">
      <h3>New Recipe Article</h3>
      <hr>
        <%= f.input :recipe_title1, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list1, label: "Ingredients List" %><hr>
        <%= f.input :recipe_title2, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list2, label: "Ingredients List" %><hr>
        <%= f.input :recipe_title3, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list3, label: "Ingredients List" %><hr>
        <%= f.input :recipe_title4, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list4, label: "Ingredients List" %><hr>
        <%= f.input :recipe_title5, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list5, label: "Ingredients List" %><hr>
        <%= f.input :recipe_title6, label: "Ingredients List Title" %><hr>
        <%= f.input :recipe_list6, label: "Ingredients List" %><hr>
          <p>Image Upload</p>
    <%= f.file_field :image20, direct_upload: true, as: :attachment_preview %><hr>
    <%= f.input :text20, label: "Paragraph 1" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image21, direct_upload: true %><hr>
    <%= f.input :text21, label: "Paragraph 2"  %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image22, direct_upload: true %><hr>
    <%= f.input :text22, label: "Paragraph 3" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image23, direct_upload: true %><hr>
    <%= f.input :text23, label: "Paragraph 4" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image24, direct_upload: true %><hr>
    <%= f.input :text24, label: "Paragraph 5" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image25, direct_upload: true %><hr>
    <%= f.input :text25, label: "Paragraph 6" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image26, direct_upload: true %><hr>
    <%= f.input :text26, label: "Paragraph 7" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image27, direct_upload: true %><hr>
    <%= f.input :text27, label: "Paragraph 8" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image28, direct_upload: true %><hr>
    <%= f.input :text28, label: "Paragraph 9" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image29, direct_upload: true %><hr>
    <%= f.input :text29, label: "Paragraph 10" %><hr>
    <p>Image Upload</p>
    <%= f.file_field :image30, direct_upload: true %><hr>
    <%= f.input :text30, label: "Paragraph 11" %><hr>

    <%= f.input :method1, label: "method 1" %><hr>
    <%= f.input :method2, label: "method 1" %><hr>
    <%= f.input :method3, label: "method 1" %><hr>

      </div>

  </div>
  </div>
</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
