<div class="container print">
  <%= button_to 'Print', "#", :onclick => 'window.print();return false;'%>
  <%= link_to "Back to recipe", article_path %>
  <div id="<%= dom_id @article %>">
    <div class="print-card">
       <h1 class="grand-title"><%= @article.title %></h1>
        <hr>
      <% if @article.image1.attached? %>
      <%= image_tag @article.image1 %>
      <% end %>

      <%  if  @article.category == "Recipe" %>
      <div class="printcard">

    <div class="row">
     <div class="col-4 print-ingredients">
        <h4>Ingredients</h4>
        <%=simple_format @article.recipe_title1 %>
        <%=simple_format @article.recipe_list1 %>
        <%=simple_format @article.recipe_title2 %>
        <%=simple_format @article.recipe_list2 %>
        <%=simple_format @article.recipe_title3 %>
        <%=simple_format @article.recipe_list3 %>
        <%=simple_format @article.recipe_title4 %>
        <%=simple_format @article.recipe_list4 %>
        <%=simple_format @article.recipe_title5 %>
        <%=simple_format @article.recipe_list5 %>
        <%=simple_format @article.recipe_title6 %>
        <%=simple_format @article.recipe_list6 %>
      </div>

      <div class="col-6 print-method">
      <h4>Method</h4>
   <%= simple_format @article.text20 %>
    <%= simple_format @article.text21 %>
    <%= simple_format @article.text22 %>
    <%= simple_format @article.text23 %>
    <%= simple_format @article.text24 %>
    <%= simple_format @article.text25 %>
    <%= simple_format @article.text26 %>
    <%= simple_format @article.text27 %>
    <%= simple_format @article.text28 %>
    <%= simple_format @article.text29 %>
    <%= simple_format @article.text30 %>
      </div>
    </div>

   </div>
    <% end %>
</div>
</div>
</div>
