<div class="container article">
<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Back to destinations", destinations_path %>
<br>
<br>
  <%= button_to "Edit this article", edit_article_path(@article), method: :get %>
  <br>
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
</div>
