<nav class="navigation">
  <div class="row">
    <div class="col large-screen-menu">

        <ul class="nav nav-tabs">
          <li></li>
            <li class="nav-item">
                <%= link_to root_path, class: "nav-link", style: "text-decoration: none;" do %>
                  <p>HOME</p>
                <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/travel">TRAVEL</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/recipes">RECIPES</a>
            </li>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/health">HEALTH</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            </ul>
        </div>




    <div class="col">
      <%= link_to root_path, class: "navigation-logo" do %>
       <%= image_tag "ALWg.png", id: "logo" %>
      <% end %>
    </div>



    <div class="col nav-social d-flex flex-row-reverse">
      <a class="instagram" href="https://www.instagram.com/thealbatrosstravelblog/" target="_blank"><i class="fab fa-instagram"></i></a>

<div class="search-bar dropstart">
<a class="dropdown-toggle dropleft" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-search"></i>
              </a>
            <ul class="dropdown-menu left-drop" >
              <li class="dropdown-item location-list" >  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search all posts..."></li>
<% end %>
</ul>
</div>

    </div>


</div>
  <div class="ml-auto small-screen-menu">
              <a class=" dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
              </a>
            <ul class="dropdown-menu" >
              <li class="dropdown-item navbar-small-list" ><%= link_to "HOME", root_path, :method => "get"  %></li>
              <li class="dropdown-item navbar-small-list" ><%= link_to "TRAVEL", travel_path, :method => "get"  %></li>
              <li class="dropdown-item navbar-small-list" ><%= link_to "RECIPES", recipes_path, :method => "get"  %></li>
              <li class="dropdown-item navbar-small-list" ><%= link_to "HEALTH", health_path, :method => "get"  %></li>
              <li class="dropdown-item navbar-small-list" ><%= link_to "ABOUT", about_path, :method => "get"  %></li>
              <li class="dropdown-item navbar-small-list" ><a href="https://www.instagram.com/thealbatrosstravelblog/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li class="dropdown-item navbar-small-list" ><%= simple_form_for :search, url: root_path, method: :get do |f| %>
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search all posts...">
              <% end %>
              </li>
          </div>
</nav>
