<div class="d-flex destination">
      <% @drinks.order(date: :desc).each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
        </div>
          <div class="d-card-text">
            <h4> <%= article.title  %></h4>

                  <div class="d-flex justify-content-between italic-cards">
                  <% if article.subfeature.include?("Juice") %>
            <h6>Juice</h6>
 <% elsif article.subfeature.include?("Non-Alcoholic") %>
            <h6>Non-Alcoholic</h6>
            <% elsif article.subfeature.include?("Alcoholic") %>
            <h6>Alcoholic</h6>
            <% elsif article.subfeature.include?("Smoothie") %>
            <h6>Smoothie</h6>
            <% end %>

            <%# <p><%= article.date.to_formatted_s(:long) %>
         <p>by <%= article.author  %></p>
          </div>

          </div>
      </div>
      <% end %>
      <% end %>

      </div>
