<div class="d-flex destination">
      <% @sweets.order(date: :desc).each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
        </div>
          <div class="d-card-text">
            <h4> <%= article.title  %></h4>

                   <div class="d-flex justify-content-between italic-cards">
                  <% if article.sweet_markers.to_s.include?("Slices & Bars") %>
            <h6>Slices & Bars</h6>
 <% elsif article.sweet_markers.to_s.include?("Cakes") %>
            <h6>Cakes</h6>
            <% elsif article.sweet_markers.to_s.include?("Cookies") %>
            <h6>Cookies</h6>
            <% elsif article.sweet_markers.to_s.include?("Desserts") %>
            <h6>Desserts</h6>

            <% end %>


            <%# <p><%= article.date.to_formatted_s(:long) %>
         <p>by <%= article.author  %></p>
          </div>

          </div>
      </div>
      <% end %>
      <% end %>

      </div>
