<div class="container destinations">
<br>
 <h1 class="grand-title" style="text-align: center;"> Destinations</h1>
     <hr>
  <div class="row">
    <div class="col-7">
      <div class="d-flex destination">
      <% @articles.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
          <div class="d-card-text">
              <% case article.category %>
            <% when "Health" %>
              <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i>
            <% when "Life" %>
              <i class="fa-solid fa-mountain fa-fw circle-icon"></i>
            <% when "Recipe" %>
              <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i>
            <% when "Restaurant" %>
              <i class="fa-solid fa-utensils fa-fw circle-icon"></i>
            <% when "Style" %>
              <i class="fa-solid fa-shirt fa-fw circle-icon"></i>
              <% when "Travel" %>
              <i class="fa-solid fa-suitcase fa-fw circle-icon"></i>
            <% end %>
            <br>
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %> <br>
            by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-4">
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>













      <% @countries.each do |country| %>
      <% if country.article_ids.present? %>
     <%= link_to country.name, country_path(country), class: "country-list", :method => "get"  %>
          <hr>
      <% end %>

      <ul style="list-style-type: square">
     <%  country.locations.each do |location| %>
     <li class="location-list" ><%= link_to location.name, location_path(location), :method => "get"  %></li>
        <% end %>


     </ul>
        <% end %>
    </div>

  </div>
</div>
