<div class="container destinations">
<br>
 <h1 class="grand-title" style="text-align: center;"> destinations</h1>
     <hr>
  <div class="row">
    <div class="col-7">
      <div class="d-flex destination">
      <% @articles.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
          <div class="d-card-text">
              <% case article.category %>
            <% when "Health" %>
            <p>Health</p>
              <%# <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i> %>
            <% when "Life" %>
            <p>Life</p>
              <%# <i class="fa-solid fa-mountain fa-fw circle-icon"></i> %>
            <% when "Recipe" %>
            <p>Recipe</p>
              <%# <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i> %>
            <% when "Restaurant" %>
            <p>Restaurant</p>
              <%# <i class="fa-solid fa-utensils fa-fw circle-icon"></i> %>
            <% when "Style" %>
            <p>Style</p>
              <%# <i class="fa-solid fa-shirt fa-fw circle-icon"></i> %>
              <% when "Travel" %>
              <p>Travel</p>
              <%# <i class="fa-solid fa-suitcase fa-fw circle-icon"></i> %>
            <% end %>
            <br>
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %> <br>
            by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
    </div>

    <div class="col-4">
      <% @countries.each do |country| %>
      <div class="accordion" id="accordionDestinations">
        <div class="accordion-item">
     <h3 class="accordion-header"   id="heading<%="#{country[:id]}"%>">
            <% if country.article_ids.present? %>
             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%="#{country[:id]}"%>" aria-expanded="true" aria-controls="collapse<%="#{country[:id]}"%>">
               <%= link_to country.name, country_path(country), class: "country-list", :method => "get"  %>
             </button>
            <% end %>
            </h3>
             <div id="collapse<%="#{country[:id]}"%>" class="accordion-collapse collapse" aria-labelledby="heading<%="#{country[:id]}"%>" data-bs-parent="#accordionDestinations">
                <div class="accordion-body">
                <ul style="list-style-type: square">
                <%  country.locations.each do |location| %>
                <li class="location-list" ><%= link_to location.name, location_path(location), :method => "get"  %></li>
                <% end %>
                </ul>
                </div>
            </div>
         </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
