<div class="container home-page">
  <br>
  <div class="d-flex home-wrap">
    <% @articles.each do |article| %>
    <div class="home-cards">
      <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="home-middle">
          <div class="home-text">
               <% case article.category %>
            <% when "Health" %>
            <p>Health</p>
              <%# <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i> %>
            <% when "Life" %>
            <p>Life</p>
              <%# <i class="fa-solid fa-mountain fa-fw circle-icon"></i> %>
            <% when "Recipe" %>
            <p>Recipe</p>
              <%# <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i> %>
            <% when "Restaurant" %>
            <p>Restaurant</p>
              <%# <i class="fa-solid fa-utensils fa-fw circle-icon"></i> %>
            <% when "Style" %>
            <p>Style</p>
              <%# <i class="fa-solid fa-shirt fa-fw circle-icon"></i> %>
              <% when "Travel" %>
              <p>Travel</p>
              <%# <i class="fa-solid fa-suitcase fa-fw circle-icon"></i> %>
            <% end %>

            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %></p>
            <p>by <%= article.author  %> </p>

          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
  <br>
</div>
