<div class="container home-page">
  <br>
  <div class="d-flex home-wrap">
    <% @articles.each do |article| %>
    <div class="home-cards">
      <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="home-middle">
          <div class="home-text">
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %></p>
            <p>by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
