<div class="container home-page">


<br>
  <% if current_user %>
 <%= link_to new_article_path, style: "text-decoration: none;" do %>
      <button class="btn btn-light left-side-button">New article</button>
      <% end %>

<% end %>
 <h1 class="grand-title" style="text-align: center;">LATEST POSTS</h1>
     <hr>
  <% if @articles.present? %>
  <div class="d-flex home-wrap">
    <% @articles.order(date: :desc).each do |article| %>
    <div class="home-cards">
      <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="home-middle">
        </div>
          <div class="home-text">

            <h4> <%= article.title  %></h4>
  <%# <p><%= article.date.to_formatted_s(:long) %>

               <div class="d-flex justify-content-between italic-cards">

    <% if article.holiday_tags.to_s.include?("Active") %>
              <h6>Active</h6>
            <% elsif article.holiday_tags.to_s.include?("Beach") %>
             <h6>Travel - Beach</h6>
            <% elsif article.holiday_tags.to_s.include?("City Breaks") %>
              <h6>Travel - City Break</h6>
            <% elsif article.holiday_tags.to_s.include?("Island") %>
              <h6>Travel - Island</h6>
            <% elsif article.holiday_tags.to_s.include?("Restaurants") %>
              <h6>Restaurant</h6>
            <% elsif article.holiday_tags.to_s.include?("Bars") %>
              <h6>Bars</h6>
                <% elsif article.holiday_tags.to_s.include?("R&R") %>
              <h6>Travel - R&R</h6>
              <% elsif article.category.to_s.include?("Health") %>
              <h6>Health</h6>
              <% elsif article.category.to_s.include?("Life") %>
              <h6>Life</h6>
              <% elsif article.category.to_s.include?("Recipe") %>
              <h6>Recipe</h6>
              <% elsif article.category.to_s.include?("Style") %>
              <h6>Style</h6>
            <% end %>
            <p>by <%= article.author  %></p>

          </div>
          </div>
      </div>
      <% end %>
      <% end %>

  </div>

        <% else %><br>
        <div class="fill-page-empty">
  <p>No results have been found.</p>
<br>

 <p> Please search again or return to the homepage</p>
<br>
<br>
<%= button_to "HOME", root_path, :method => "get"  %>

<br>

</div>

  <br>
  <% end %>
  <br>

</div>
<div class="pagy-bar">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
