<div class="container review">
<h1>Teatro - Barcelona</h1>

<p>
Formally known as Tickets, Teatro is a fun spot for a serious gastronomic experience in Barcelona. The showbiz décor, and the wait staff uniforms, could fool you into thinking you’re about to see a show. It’s a bit gimmicky, a bit naff, but don’t let the frivolities distract you from what you came here for. The phenomenal food.
</p>

<p>
Now, the menu set up isn’t quite the same as a normal restaurant.
</p>
<p>
Everything comes tapas sized, with few dishes more than a single bite. There is the option to choose a la carte, but the staff recommend letting them dictate the running of your show. Simply tell them of any likes or dislikes, and let them do the hard part of choosing for you.
</p>
<p>
Overheard from the table next door: “I eat a lot of fine dining, and, you know, you start to see the same stuff. The same truffled this, truffled that, it’s rare to find somewhere doing something new, you know? That’s why I love this place.”
</p>
<p>
The same goes for the drinks. The wine list is extensive, but if, like us, you prefer to relinquish the effort of choice, just tell the wait staff what you like, and they will get it spot on. Our wonderful server chose us the most amazing, locally sourced, wines - a dry white wine, and a medium bodied red.
</p>
<p>
The cocktail menu is famed for being hand crafted by their top mixologist, and at only ¢10 a pop, are an absolute steal. I have it on good authority, from foodie friends, that they are innovative, delicious, and an equally good way to pair the food.
</p>
<p>
We already had a bit of a buzz on from a stiff gin & tonic (actually, two) enjoyed while getting ready, so we started with a glass of the house cava. While it was delightfully crisp and refreshing, it bizarrely reminded me of apple juice. And not in a bad way.
</p>
<p>
Naturally, we left our fate in the hands of the team (you must!) and the journey began with a blini, ham and caviar.
</p>


  <%= image_tag "b.png", id: "blini-teatro" %>

<p>
Salty, pillowy, fresh from the pan.
</p>
<p>
What followed, was my dish of the night. A hibiscus taco, tasting like a crisp, sweet meringue, with smoked cheese. Sweet, savoury, floral and tangy.
</p>
  <%= image_tag "2.png", id: "blini-teatro" %>
<p>


The nibbles at the beginning were dairy heavy. Which was music to our dairy loving ears. Of course, our server asked if we had any dietary requirements, so if dairy is not your thing, you’d get something different.
</p>
<p>
Macadamia nut cloud and ‘el claustre’ cheese.
</p>
  <%= image_tag "3.png", id: "blini-teatro" %>
<p>


Looking suspiciously like a Raffaello, this little morsel was unbelievably light and delicate, so don’t squeeze too hard when you pick it up. A ball of cool, lightly set, cloud-like cheese, dusted in a jacket of more cheese, encased a macadamia nut surprise. My second favourite dish of the night.
</p>
<p>
A savoury cannolo. A crispy cigar filled with a different smoked cheese, with what we thought tasted like sobrasada and olives.
</p>
  <%= image_tag "4.png", id: "blini-teatro" %>
<p>


Anchovy and sardines on toast. Light, fresh, and not as intensely ‘fishy’ as you might think.
</p>
  <%= image_tag "5.png", id: "blini-teatro" %>
<p>


Chicken toast and pickled mushrooms.
</p>
  <%= image_tag "6.png", id: "blini-teatro" %>
<p>


Beef flute. A Tickets classic.
</p>
  <%= image_tag "7.png", id: "blini-teatro" %>
<p>


Nori, foie gras and eel tartlet. The eel had a firm meaty texture, in a hoisin like glaze. If I hadn’t known it was eel, I would have thought it was tuna.
</p>
  <%= image_tag "8.png", id: "blini-teatro" %>
<p>


White tuna with Iberian ham, tomato and fresh wasabi.
</p>
  <%= image_tag "9.png", id: "blini-teatro" %>
<p>


Korean octopus. These were fun. A chef came over and told us that the octopus was cooked slowly in the Catalan way, then breaded and fried. We were to dip it in the kimchi mayonnaise, then plunge it into another bowl of crispy panko breadcrumbs. The pickled cucumbers were there to compliment the whole affair.
</p>
  <%= image_tag "10.png", id: "blini-teatro" %>
<p>


Admittedly, the whole breaded item getting dipped in even more crispy coating was not our thing. The octopus was completely lost - it could have been anything that was deep fried.
</p>
<p>
But the pickled cucumbers were an absolute treat.
</p>
<p>
Sea bream saam. Punchy, flavour coated pieces of sea bream, with zingy beetroot in a crunchy lettuce cup. Super fresh, like a Vietnamese san choy bow.
</p>
  <%= image_tag "11.png", id: "blini-teatro" %>
<p>

Then came the desserts.
</p>
<p>
I had heard rave reviews of the cheesecake, so it was a must try for us.
</p>
  <%= image_tag "12.png", id: "blini-teatro" %>
<p>


It was ashy, full of goats cheese, and had the perfect almost-melted set, just like the macadamia nut cheese cloud. The chefs’ timing in removing these bits from the fridge was absolutely spot on.
</p>
<p>
It was like no cheesecake we’ve ever had before. While it wasn’t a patch on Fismuler’s, or Jon Cake’s, it was a completely different thing entirely. C felt it left him with an aftertaste of brie on an oatcake, so, you could think of it as a cheese course.
</p>
  <%= image_tag "13.png", id: "blini-teatro" %>
<p>


To finish, we had the chocolate offering. It came in a delightful box, and beneath its crispy shell lay salted caramel and peanut galore.
</p>
<p>
A fun way to end a very fun meal.
</p>
<p>
Ultimately, this was one of our favourite dining experiences in Barcelona, down to it being one of the most unusual. It makes a great date spot, or somewhere to go with your foodiest friends. Everything is out of the ordinary.
</p>
<p>
Price: ££££/£
Atmosphere: 6.5/10
Drinks: 7.5/10
Food: 8/10
Service: 10/10
Value for money: 8/10
</p>

    </div>
  </div>
</div>
