 <h1 class="grand-title" style="text-align: center;"> mains</h1>
<hr>
<div class="d-flex destination">
      <% @mains.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
          <div class="d-card-text">
             <% case article.cuisine %>
            <% when "Med" %>
              <p>Mediteranean</p>
            <% when "Asian" %>
              <p>Asian</p>
            <% when "Middle Eastern" %>
              <p>Middle Eastern</p>
            <% end %>
            <br>
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %> <br>
            by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
