 <h1 class="grand-title" style="text-align: center;"> Mains</h1>
<hr>
<div class="d-flex destination">
      <% @mains.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
          <div class="d-card-text">
              <% case article.category %>
            <% when "Health" %>
              <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i>
            <% when "Life" %>
              <i class="fa-solid fa-mountain fa-fw circle-icon"></i>
            <% when "Recipe" %>
              <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i>
            <% when "Restaurant" %>
              <i class="fa-solid fa-utensils fa-fw circle-icon"></i>
            <% when "Style" %>
              <i class="fa-solid fa-shirt fa-fw circle-icon"></i>
              <% when "Travel" %>
              <i class="fa-solid fa-suitcase fa-fw circle-icon"></i>
            <% end %>
            <br>
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %> <br>
            by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
