 <div class="container">
 <br>
 <h1 class="grand-title" style="text-align: center;"> ALL RECIPES</h1>
<hr>


<%#
<ul style="display: none;" class="filter-wrap dmc_pfa_secondary_group_t dmc-xpndr-w dmc-registered inherited-styles-for-exported-element" data-pfa_id="recipe_index" data-pfa_type="taxonomy">
  <li class="filter-item term-id-5">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-5" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="5" type="checkbox">
      <label for="filter-taxonomy-5">appetizer</label>
    </div>
  </li>
  <li class="filter-item term-id-3585">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-3585" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="3585" type="checkbox">
      <label for="filter-taxonomy-3585">basics <span class="term-count">(4)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-10">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-10" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="10" type="checkbox">
      <label for="filter-taxonomy-10">beverage <span class="term-count">(72)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-19">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-19" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="19" type="checkbox">
      <label for="filter-taxonomy-19">breakfast <span class="term-count">(103)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-4">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-4" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="4" type="checkbox">
      <label for="filter-taxonomy-4">dessert <span class="term-count">(69)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-22">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-22" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="22" type="checkbox">
      <label for="filter-taxonomy-22">main course <span class="term-count">(221)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-3489">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-3489" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="3489" type="checkbox">
      <label for="filter-taxonomy-3489">pasta <span class="term-count">(34)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-8">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-8" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="8" type="checkbox">
      <label for="filter-taxonomy-8">salad <span class="term-count">(101)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-246">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-246" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="246" type="checkbox">
      <label for="filter-taxonomy-246">sandwich <span class="term-count">(10)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-386">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-386" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="386" type="checkbox">
      <label for="filter-taxonomy-386">sauce <span class="term-count">(88)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-17">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-17" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="17" type="checkbox">
      <label for="filter-taxonomy-17">side dish <span class="term-count">(196)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-6">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-6" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="6" type="checkbox">
      <label for="filter-taxonomy-6">snack <span class="term-count">(86)</span></label>
    </div>
  </li>
  <li class="filter-item term-id-27">
    <div class="filter-item-inner">
      <input class="dmc_pfa_item" id="filter-taxonomy-27" data-pfa_item="checkbox" data-pfa_taxonomy="category" data-pfa_term_id="27" type="checkbox">
      <label for="filter-taxonomy-27">soup <span class="term-count">(50)</span></label>
    </div>
  </li>
</ul> %>






<div class="tabs">
    <a href="/recipes/starters">Starters</a>
    <a href="/recipes/mains">Mains</a>
    <a href="/recipes/sweets">Sweets</a>
    <a href="/recipes/drinks">Drinks</a>
    <a href="/recipes/snacks">Snacks</a>
    </div>
    <%# <div class="search-bar-recipe">
        <%= form_with url: recipes_path, method: :get, class: "d-flex search-style" do %>
      <%# <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Ingredient, cuisine, etc..."
      %>
      <%# <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
      <%# <% end %>
    <%# </div> %>
<hr>
    <div class="search-bar dropup">
<a class="dropdown-toggle dropup" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-search"></i>
              </a>
            <ul class="dropdown-menu up-drop" >
              <li class="dropdown-item location-list" >  <%= simple_form_for :search, url: recipes_path, method: :get do |f| %>
              <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search ingredients, etc..."></li>
<% end %>
</ul>
</div>
<div class="row">
  <div class="col-sm-auto" data-controller="filter">
    <div class="search-and-filters">
 <%= turbo_frame_tag "recipes" do %>


      <div class="filter-buttons-recipe">
      <br>
<h6>Filters</h6>
<hr>
<ul>
      <li> <%=link_to "Vegan", recipes_path(filter: "Vegan"), class: "button-16", id: "#{"selected" if params[:filter] == "Vegan"}" %></li>
       <li> <%=link_to "Vegetarian", recipes_path(filter: "Vegetarian"), class: "button-16", id: "#{"selected" if params[:filter] == "Vegetarian"}" %></li>
       <li> <%=link_to "Dairy Free", recipes_path(filter: "Dairy Free"), class: "button-16", id: "#{"selected" if params[:filter] == "Dairy Free"}" %></li>
       <li> <%=link_to "Gluten Free", recipes_path(filter: "Gluten Free"), class: "button-16", id: "#{"selected" if params[:filter] == "Gluten Free"}" %></li>

       <hr>
      <li>    <%=link_to "Bread", recipes_path(filter: "Bread"), class: "button-16", id: "#{"selected" if params[:filter] == "Bread"}" %></li>
       <li> <%=link_to "Brunch", recipes_path(filter: "Brunch"), class: "button-16", id: "#{"selected" if params[:filter] == "Brunch"}" %></li>
<hr>
     <li>  <%=link_to "Reset filters", recipes_path, class: "button-16" %></li>
       </ul>
    </div>
    </div>
      </div>


<div class="col">
 <div id="recipes">
   <%= render 'recipe', recipes: @recipes %>
    <% if @recipes.empty? %>
      <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No recipes fit your search. Please try again</h2>
      <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", recipes_path, class: "button-16" %></h4>


        <% end %>
 </div>
</div>
<% end %>

</div>

      <br>

  </div>
