 <div class="container">
 <br>
 <h1 class="grand-title" style="text-align: center;"> ALL RECIPES</h1>
<hr>
<div class="tabs">
    <a href="/recipes/starters">starters</a>
    <a href="/recipes/mains">mains</a>
    <a href="/recipes/sweets">sweets</a>
    <a href="/recipes/drinks">drinks</a>
    <a href="/recipes/snacks">snacks</a>
    </div>
<hr>
<div class="d-flex destination">
      <% @recipes.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
          <div class="d-card-text">
              <% case article.subcategory %>
            <% when "Drinks" %>
            <p>Drinks</p>
              <%# <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i> %>
            <% when "Starters" %>
            <p>Starters</p>
              <%# <i class="fa-solid fa-mountain fa-fw circle-icon"></i> %>
            <% when "Mains" %>
            <p>Mains</p>
              <%# <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i> %>
            <% when "Sweets" %>
            <p>Sweets</p>
              <%# <i class="fa-solid fa-utensils fa-fw circle-icon"></i> %>
            <% end %>
            <br>
            <h5> <%= article.title  %></h5>
            <p><%= article.date.to_formatted_s(:long) %> <br>
            by <%= article.author  %> </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
      </div>
