<div class="container destinations">
  <br>
  <h1 class="grand-title" style="text-align: center;">TRAVEL</h1>
  <hr>

    <div class="destination-tabs">
        <% @countries.each do |country| %>
      <div class="destination-entry">

      <a class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   <%= country.name %></a>


            <ul class="dropdown-menu" >
          <%  country.locations.each do |location| %>
            <li class="dropdown-item location-list" ><%= link_to location.name, location_path(location), :method => "get"  %></li>



          <% end %>
          <hr>
            <li class="dropdown-item location-list" ><%= link_to "View all posts", country_path(country), :method => "get"  %></li>
            </ul>
      </div>
      <% end %>
    </div>



    <hr>
    <div class="d-flex destination">
      <% @articles.each do |article| %>
        <div class="destination-cards">
           <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
        </div>
          <div class="d-card-text">
            <h4> <%= article.title  %></h4>
             <div class="d-flex justify-content-between italic-cards">
              <% case article.category %>
            <% when "Health" %>
            <h6>Health</h6>
              <%# <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i> %>
            <% when "Life" %>
            <h6>Life</h6>
              <%# <i class="fa-solid fa-mountain fa-fw circle-icon"></i> %>
            <% when "Recipe" %>
            <h6>Recipe</h6>
              <%# <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i> %>
            <% when "Restaurant" %>
            <h6>Restaurant</h6>
              <%# <i class="fa-solid fa-utensils fa-fw circle-icon"></i> %>
            <% when "Style" %>
            <h6>Style</h6>
              <%# <i class="fa-solid fa-shirt fa-fw circle-icon"></i> %>
              <% when "Travel" %>
              <h6>Travel</h6>
              <%# <i class="fa-solid fa-suitcase fa-fw circle-icon"></i> %>
            <% end %>

            <%# <p><%= article.date.to_formatted_s(:long) %>
         <p>by <%= article.author  %></p>
          </div>
          </div>
      </div>
      <% end %>
      <% end %>
      </div>
      <br>
</div>
