<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @country %>

    <%= link_to "Back to destinations", destinations_path %>
<br>
<br>

  <%= button_to "Edit this country", edit_country_path(@country), :method => "get"   %>
  <br>
  <%= button_to "Destroy this country", @country, method: :delete %>
</div>
</div>
