<div class="container destinations">
  <br>

  <h1 class="grand-title" style="text-align: center;"><%= @country.name.upcase %></h1>
  <hr>

  <h5 style="text-align: center;">LATEST POSTS</h5>




<div class="col">
  <div class="container center">

      <% if @country.articles.count < 1 %>
      <br>
      <br>
    <h5><%= "We hope to have more articles for #{@country.name} coming soon"%></h5>
      <br>
      <br>
      <% end %>

    <% if params[:filter].present? || params["search"].present? %>
        <%  @country.locations.each do |location| %>
        <hr>
        <h1 class="grand-title-country"><%= link_to  location.name.upcase, location_path(location), :method => "get"  %></h1>
          <hr>
            <% @art.order(date: :desc).limit(16).each do |article| %>
            <div class="d-flex destination-country-show">
          <% if article.location_id == location.id %>
              <div class="destination-cards">
              <%= link_to article_path(article), style: "text-decoration: none;" do %>
                <% if article.imagecover.attached? %>
                  <%= image_tag article.imagecover %>
                <% end %>
              <div class="d-card-middle">
              </div>
              <div class="d-card-text">
                <h4> <%= article.title  %></h4>
                <div class="d-flex justify-content-between italic-cards">
                    <div class="d-flex justify-content-between italic-cards">
                      <% if article.holiday_tags.to_s.include?("Active") %>
                        <h6>Active</h6>
                      <% elsif article.holiday_tags.to_s.include?("Beach") %>
                      <h6>Beach</h6>
                      <% elsif article.holiday_tags.to_s.include?("City Breaks") %>
                        <h6>City Break</h6>
                      <% elsif article.holiday_tags.to_s.include?("Island") %>
                        <h6>Island</h6>
                      <% elsif article.holiday_tags.to_s.include?("Restaurants") %>
                        <h6>Restaurant</h6>
                      <% elsif article.holiday_tags.to_s.include?("Bars") %>
                        <h6>Bars</h6>
                      <% end %>
                    <p>by <%= article.author  %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
          <% end %>
            <% if @art.empty? %>
            <h5 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No posts fit your search. Please try again</h5>
            <h5 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", country_path, class: "button-16" %></h5>
        <% end %>
        <% end %>
      <% end %>





<%  if params[:filter].blank? && params["search"].blank?  %>
      <%  @country.locations.each do |location| %>
        <hr>
        <h1 class="grand-title-country"><%= link_to  location.name, location_path(location), :method => "get"  %></h1>
        <hr>
      <div class="d-flex destination-country-show">
     <% location.articles.order(date: :desc).limit(6).each do |article|%>
        <div class="destination-cards">
         <%= link_to article_path(article), style: "text-decoration: none;" do %>
          <% if article.imagecover.attached? %>
            <%= image_tag article.imagecover %>
          <% end %>
          <div class="d-card-middle">
          </div>
         <div class="d-card-text">
          <h4> <%= article.title  %></h4>
            <div class="d-flex justify-content-between italic-cards">
          <% if article.holiday_tags.to_s.include?("Active") %>
              <h6>Active</h6>
            <% elsif article.holiday_tags.to_s.include?("Beach") %>
             <h6>Beach</h6>
            <% elsif article.holiday_tags.to_s.include?("City Breaks") %>
              <h6>City Break</h6>
            <% elsif article.holiday_tags.to_s.include?("Island") %>
              <h6>Island</h6>
            <% elsif article.holiday_tags.to_s.include?("Restaurants") %>
              <h6>Restaurant</h6>
            <% elsif article.holiday_tags.to_s.include?("Bars") %>
              <h6>Bars</h6>
                <% elsif article.holiday_tags.to_s.include?("R&R") %>
              <h6>R&R</h6>
            <% end %>
              <p>by <%= article.author  %></p>
            </div>
          </div>
       </div>
      <% end %>
      <% end %>
      </div>
      <%# <% if @art.count >= 2 %>
<br>
      <% if location.articles.count > 6 %>
        <h1 class="title-country-location"><%= link_to  "View more #{location.name} posts", location_path(location), :method => "get"  %></h1>
<% else %>
<br>
<h5><%= "We hope to have more articles for #{location.name} coming soon"%></h5>
      <% end %>
      <br>
      <br>
      <% end %>
    <% end %>

<br>
  <% if current_user %>
    <%= link_to "Edit this country", edit_country_path(@country), method: :get   %>
    <br>
    <br>
    <%= link_to "New location", new_location_path, method: :get   %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "Delete this country & posts", @country, method: :delete %>
    <br>
    <br>
    <br>
  <% end %>
  </div>
</div>
</div>
