<div class="container center">
<br>
<h1><%= @location.name %></h1>
<hr>
  <div class="d-flex destination">
        <% @location.articles.each do |article|%>
        <div class="destination-cards">
       <%= link_to article_path(article), style: "text-decoration: none;" do %>
        <% if article.imagecover.attached? %>
          <%= image_tag article.imagecover %>
        <% end %>
        <div class="d-card-middle">
      </div>
       <div class="d-card-text">
            <h4> <%= article.title  %></h4>
             <div class="d-flex justify-content-between italic-cards">
              <% case article.category %>
            <% when "Health" %>
            <h6>Health</h6>
              <%# <i class="fa-solid fa-person-hiking fa-fw circle-icon"></i> %>
            <% when "Life" %>
            <h6>Life</h6>
              <%# <i class="fa-solid fa-mountain fa-fw circle-icon"></i> %>
            <% when "Recipe" %>
            <h6>Recipe</h6>
              <%# <i class="fa-solid fa-bowl-food fa-fw circle-icon"></i> %>
            <% when "Restaurant" %>
            <h6>Restaurant</h6>
              <%# <i class="fa-solid fa-utensils fa-fw circle-icon"></i> %>
            <% when "Style" %>
            <h6>Style</h6>
              <%# <i class="fa-solid fa-shirt fa-fw circle-icon"></i> %>
              <% when "Travel" %>
              <h6>Travel</h6>
              <%# <i class="fa-solid fa-suitcase fa-fw circle-icon"></i> %>
            <% end %>

            <%# <p><%= article.date.to_formatted_s(:long) %>
         <p>by <%= article.author  %></p>
          </div>
          </div>
      </div>
      <% end %>
      <% end %>
        </div>
    <%= link_to "Back to destinations", destinations_path %>
    <br>
     <%# <% if current_user && current_user.admin? %>
    <%= button_to "Edit this location", edit_location_path(@location), method: :get   %>
    <%= button_to "Destroy this location", @location, method: :delete %>
    <%# <% end %>
</div>
