<div class="container">
  <p style="color: green"><%= notice %></p>
  <%= render @location %>
  <div>
    <%= link_to "Back to destinations", destinations_path %>
    <br>
    <br>
    <br>
    <%= button_to "Edit this location", edit_location_path(@location), method: :get   %>
    <%= button_to "Destroy this location", @location, method: :delete %>
  </div>
</div>
