<div class="container">
  <br>
  <br>
  <h1 class="grand-title" style="text-align: center;"> <%= @location.name.upcase %></h1>
  <hr>
        <%= render 'pages/travelfilters' %>


      <div class="col">
       <div id="travel-render">
        <%= render 'location' %>
       </div>
      </div>
        <% if @locationfilter.empty? %>
          <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No posts fit your search. Please try again</h2>
          <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", location_path, class: "button-16" %></h4>
        <% end %>

    <br>
    <br>
    <% if current_user %>
    <%= link_to "Edit this location", edit_location_path(@location), method: :get   %>
    <br>
    <br>
    <%= link_to "Delete this location", @location, method: :delete %>
    <% end %>
  </div>

      <div class="pagy-bar">
<%== pagy_bootstrap_nav(@pagy) %>
  </div>
