<div class="container">
  <br>
  <br>
  <h1 class="grand-title" style="text-align: center;"> <%= @location.name.upcase %></h1>
  <hr>
  <div class="search-bar-travel dropup">
    <a class="dropdown-toggle dropup" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-search"></i>
    </a>
      <ul class="dropdown-menu up-drop" >
        <li class="dropdown-item location-list" >  <%= simple_form_for :search, url: location_path, method: :get do |f| %>
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search cities, etc..."></li>
        <% end %>
      </ul>
    <div class="ml-auto small-screen-menu-travel">
      <a class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Filters</a>
        <ul class="dropdown-menu" >
          <li class="dropdown-item location-list" ><%=link_to "Travel", location_path(filter: "Travel"), class: "button-16", id: "#{"selected" if params[:filter] == "Travel"}" %></li>
          <li class="dropdown-item location-list" ><%=link_to "City Breaks", location_path(filter: "City Breaks"), class: "button-16", id: "#{"selected" if params[:filter] == "City Breaks"}" %></li>
          <li class="dropdown-item location-list" ><%=link_to "Beach", location_path(filter: "Beach"), class: "button-16", id: "#{"selected" if params[:filter] == "Beach"}" %></li>
          <li class="dropdown-item location-list" ><%=link_to "Active", location_path(filter: "Active"), class: "button-16", id: "#{"selected" if params[:filter] == "Active"}" %></li>
          <li class="dropdown-item location-list" ><%=link_to "Restaurants", location_path(filter: "Restaurant"), class: "button-16", id: "#{"selected" if params[:filter] == "Restaurant"}" %></li>
          <li class="dropdown-item location-list" ><%=link_to "Bars", location_path(filter: "Bars"), class: "button-16", id: "#{"selected" if params[:filter] == "Bars"}" %></li>
          <hr>
          <li class="dropdown-item location-list" ><%=link_to "Reset filters", location_path, class: "button-16" %></li>
          <li class="dropdown-item location-list" > <%=link_to "Back to travel section", travel_path, class: "button-16" %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-auto filters-panel" data-controller="filter">
        <div class="search-and-filters">
          <%= turbo_frame_tag "travel" do %>
          <div class="filter-buttons-travel large-screen-menu">
            <br>
            <h6>Filters</h6>
            <hr>
            <ul>
              <li> <%=link_to "Travel", location_path(filter: "Travel"), class: "button-16", id: "#{"selected" if params[:filter] == "Travel"}" %></li>
              <li> <%=link_to "City Breaks", location_path(filter: "City Breaks"), class: "button-16", id: "#{"selected" if params[:filter] == "City Breaks"}" %></li>
              <li> <%=link_to "Beach", location_path(filter: "Beach"), class: "button-16", id: "#{"selected" if params[:filter] == "Beach"}" %></li>
              <li> <%=link_to "Active", location_path(filter: "Active"), class: "button-16", id: "#{"selected" if params[:filter] == "Active"}" %></li>
              <li> <%=link_to "Restaurants", location_path(filter: "Restaurant"), class: "button-16", id: "#{"selected" if params[:filter] == "Restaurant"}" %></li>
              <li> <%=link_to "Bars", location_path(filter: "Bars"), class: "button-16", id: "#{"selected" if params[:filter] == "Bars"}" %></li>
              <hr>
              <li> <%=link_to "Reset filters", location_path, class: "button-16" %></li>
              <li> <%=link_to "Back to travel section", travel_path, class: "button-16" %></li>
            </ul>
         </div>
       </div>
      </div>

      <div class="col">
       <div id="travel-render">
        <%= render 'location' %>
        <% if @locationfilter.empty? %>
          <h2 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;">No posts fit your search. Please try again</h2>
          <h4 style="margin: 10% auto;width:-moz-fit-content;width:fit-content;"> <%=link_to "Reset filters", location_path, class: "button-16" %></h4>
        <% end %>
       </div>
      </div>
      <% end %>
    </div>
    <br>
    <br>
    <% if current_user %>
    <%= link_to "Edit this location", edit_location_path(@location), method: :get   %>
    <br>
    <br>
    <%= link_to "Delete this location", @location, method: :delete %>
    <% end %>
  </div>
