<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('fava.png') %>
    <title>the albatross - travel blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
<% if current_page? "/articles/#{params[:id]}/print" %>
<body>
  <% else %>
  <body style="background-image: linear-gradient( rgba(255, 255, 255, 0.367), rgba(117, 109, 95, 0.367));">
<% end %>

<% unless current_page? "/articles/#{params[:id]}/print" %>

  <%= render "shared/navbar" %>
<% end %>
<%= render "shared/flashes" %>
    <div class="main">
      <%= yield %>
    </div>

<% unless current_page? "/articles/#{params[:id]}/print" %>

  <%= render "shared/footer" %>
<% end %>
  </body>

</html>
